import React from "react";
import { Container } from './{{ pascalCase name }}.style';


function {{ pascalCase name }}() {
return (
  <div>
    <input />
  </div>
  );
}

export default {{ pascalCase name }};